* {
    box-sizing: border-box;
}

:root {
    --card_height: 150px;
    --card_width: 100px;
}

html,
body,
.Root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: brown;
}

.View {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: green;
}

.Title {
    height: 15%;
    margin: 0;
    padding: 10px 0;

    text-align: center;
    color: white;
}

.Arena {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 85%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Board {
    display: grid;
    align-content: space-between;

    margin: 0;
    padding: 10px;

    background-color: rgb(25, 158, 160);
}

.Player {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    position: relative;
}

.Player_Turn_Icon {
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;

    position: absolute;
    top: -20px;

    color: white;
    text-align: center;
}

.Hand {
    position: relative;

    width: var(--card_width);
    margin: 0;
    padding: 0;

    background-color: rgb(92, 25, 160);
}

.Board_Cell,
.Board_Stake,
.Player_Stake,
.Player_Selected_Stake {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: var(--card_height);
    width: var(--card_width);
    margin: 0;
    padding: 10px;

    background-color: transparent;

    text-align: center;
    color: white;

    cursor: default;
}

.Board_Cell,
.Board_Stake {
    margin: 10px;
}

.Player_Stake,
.Player_Selected_Stake {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.Player_Stake {
    border: 1px solid black;
}

.Player_Selected_Stake {
    border: 1px solid white;
}